---
import Layout from '../layouts/Layout.astro';
import Blogs from '../components/Blogs.jsx';
const blogs = await fetch(`${import.meta.env.LAMBDO_URL}/ghost/api/content/posts/?key=${import.meta.env.API_KEY}`).then((res) =>  res.json());
---

<Layout title="Blogs">
	<div class="p-4">
		<Blogs blogs={blogs} />
	</div>
</Layout>

<style>

</style>
